{% extends "layout.twig" %}

{% block title %}Components{% endblock %}

{% block content %}
    <ul>
    <li><a href='/components/gpu'>Videokaarten</a></li>
    <li><a href='/components/cpu'>Processoren</a></li>
    <li><a href='/components/motherboard'>Moederborden</a></li>
    </ul>
{% endblock %}