{% extends "layout.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Uw betaling is geslaagd.</h2>
            <br/>
            <p>Bedankt voor uw bestelling, we zullen zo spoedig mogelijk uw bestelling klaar maken voor verzending.</p>
            <br/>
            <p>Bestelnummer: AVANS-{{ orderId }}</p>
            <br/>
            <hr/>
            <p>Vragen? Onze klantenservice staat voor uw klaar.</p>
        </div>
    </div>
{% endblock %}