<html>
<head>
    <title>Avans Webshop - {% block title %}Home{% endblock %}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/webshop.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="container">
            <img src="/images/webwinkel-logo.jpg"/>
            <input type="text" placeholder="zoekterm"/><input type="submit" value="zoeken"/>
        </div>

        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Avans Webshop</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('desktops') }}">Desktops</a></li>
                        <li><a href="{{ path('laptops') }}">Laptops</a></li>
                        <li><a href="{{ path('tablets') }}">Tablets</a></li>
                        <li><a href="{{ path('components') }}">Componenten</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>