{% extends "layout.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{{ path('auth-login-check') }}" method="post">
                {{ error }}
                <input type="text" name="_username" value="{{ last_username }}" />
                <input type="password" name="_password" value="" />
                <input type="submit" />
            </form>
        </div>
    </div>
{% endblock %}